@model AplicacionNETTBDEJ24.Models.Kardex

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Estas seguro que deseas eliminar?</h3>
<div>
    <h4>Kardex</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calif)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="hidden" asp-for="nualu" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
